* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  rgba(0,182,255,255);
}


.formulario {
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 3rem;
    background-color: rgb(176, 216, 242, 255); 
    margin-top: 30px; 
    box-shadow: 0px 0px 10px #00FFFB;
}

.formulario input {
    border-radius: 2rem;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.formulario .boton {
    padding: 10px 20px;
    background-color: #4c98af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px; 
}


.formulario .boton:hover {
    background-color: #45a0a0;
}

.eventos {
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 3vh;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background-color: rgba(176, 216, 242, 255);
    margin-top: 20px;
    box-shadow: 0px 0px 5px #00FFFB;
}

.evento {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    border-radius: 0.5rem;
    border: 1px solid #000000;
    padding: 15px;
    margin: 5vh;
    margin-bottom: 10px;
    background-color: rgba(240, 248, 255, 0.822);
    width: 85vh;
  }
  
  .diasFaltantes {
    font-size: 20px;
    color: rgb(21, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .nombreEvento {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .fechaEvento {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .acciones {
    text-align: right;
  }

.eliminar { 
    background-color: red; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
}

.eliminar:hover { 
    background-color: darkred; 
}
