* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgba(197, 105, 69, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculadora {
    background-color: rgb(71, 71, 69);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.pantalla {
    grid-column: 1/5;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.boton {
    background-color: rgb(233, 85, 85);
    color: rgb(0, 0, 0);
    border: 0;
    padding: 1rem;
    font-size: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(255, 255, 255);
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
}

#igual:hover {
    background-color: rgb(132, 167, 227);
}